@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

#sec
{
    min-height: 100vh;
    background-image: url("./Assets/Images/landing.JPG");
    background-repeat: no-repeat;
    background-size: cover;


}

/*
a, a:hover
{
    text-decoration: none;
}
.top-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #110f0fcc;

}
.top-bar span
{
    color: #fff;
}
.top-bar ul
{
    list-style: none;
    display: flex;
}
.top-bar li
{
    margin: 0px 10px;
}
.top-bar a
{
    color: #fff;
}
.top-bar a:hover
{
    color: burlywood;
}
*/




nav
{
    background-color:#11100fee;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a
{
    color: #fff;
    text-decoration: none;
}
nav a:hover
{
    color: rgba(48, 187, 237, 0.849);
}
.logo
{
    flex: 1;
}
.logo a
{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.logo a:hover
{
    color: rgba(48, 187, 237, 0.849);
}
.logo img
{
    width: 40px;
    margin-right:10px;
}
.menu
{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li 
{
    padding: 15px 10px;
    font-size: 15px;
}
.toggle
{
    font-size: 25px;
    display: none;
}
footer
{
    background-color:#11100fee;
    padding: 5px;
    text-align: center;
    color: #fff;
    /* how to make a footer stick to the bottom*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;


}
@media screen and (max-width:600px)
{
    nav
    {
        display: block;
        position: relative;
        padding: 15px 20px;
        
    }
    .menu
    {
        margin-top: 15px;
        display: none;
        
    }
    .menu li
    {
        text-decoration: none;
    }
    .menu.active, .toggle
    {
        display: block;
    }
    .toggle
    {
        position: absolute;
        top: 15px;
        right: 20px;
    }


}