@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: "poppins", sans-serif;
}

#sec
{
    height: 94vh;
    display: flex;
    flex-direction: column;
}
   
nav
{
    background-color:#11100fee;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a
{
    color: #fff;
    text-decoration: none;
    
}
nav a:hover
{
    color: rgba(48, 187, 237, 0.849);
}

.logo
{
    flex: 1;
    
}
.logo a
{
    display: flex;
    
    align-items: center;
    font-size: 15px;
}
.logo a:hover
{
    color: rgba(48, 187, 237, 0.849);
}
.logo img
{
    width: 40px;
    margin-right:40px;
}
.menu
{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li 
{
    padding: 15px 10px;
    font-size: 15px;
}
.toggle
{
    font-size: 25px;
    display: none;
}
#hea
{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 0.20cm;
    color: #fff;
}
.per
{
    border: 2px solid blue;
    width: 100%;
    height:75%;
}
body
{
    background-color:#11100fee;

}


/*
:root
    {
        --bg1:#f65e00;
        --bg2:#0cc0df;
        --bg3:#5271ff;
    }
*/
.cards
{
    /*border: 1px solid yellow;*/
    width: 92%;
    margin-top: -780px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60dvh;
    background-color: #222327;
    font-family: poppins, sans-serif;
    padding: 30px;
    
    
}
/*
.cards
{
    display: grid;
    gap: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
    */

.card
{
    background-color: white;
    padding: 30px;
    margin: 5px;
    border-radius: 12px;
    transition: height 0.3s ease-in-out;
    margin-top:80px;
}


.image-holder
{
  /*border: 1px solid black;*/
  box-shadow: 1px 1px 20px blueviolet;
}
.image-holder img
{
    width: 280px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.card .image-holder
{
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}
.card:nth-child(1) .image-holder
{
    background-color: var(--bg1);
}
.card:nth-child(2) .image-holder
{
    background-color: var(--bg1);
}
.card:nth-child(3) .image-holder
{
    background-color: var(--bg1);
}
.card h2, .card p
{
    margin-bottom: 10px;
}
.card p
{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.card-content
{
    height: 30px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    text-align: center;
}

.card:hover .image-holder
{
    transform: scale(0.9);
    margin-top: -90px;
}
.card:hover .card-content
{
    height: 150px;
    overflow: visible;
}
.card:hover p
{
    opacity: 1;
}
/*
main
{
    margin-top: -710px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 70vh;
}
main .per
{
  border: 1px solid white;
  max-width: 350px;
  height: 100%;
  padding: 20px;

}

.per img
{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -20px;
    
}
*/

/* add more about images */
/*
.per img::after
{
    content: '';
    position: absolute;
    left: 0px;
    bottom:0px ;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
}
*/

footer
{
    background-color:#11100fef;
    padding: 5px;
    text-align: center;
    color: #fff;
    /* how to make a footer stick to the bottom*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
 